# config
flake8-pyproject
pip

# formatting
black
isort
flake8
flake8-simplify
flake8-tidy-imports
pep8-naming

# type checking and testing
pyright
pytest
pytest-cov

# documentation (advised to freeze dependencies)
sphinx==7.2.6
furo==2023.09.10
sphinx_design==0.5.0
myst-parser==2.0.0
sphinx-autobuild==2021.3.14

# codegen
inflection
Jinja2


# dependencies (make sure dependencies work)
InquirerPy==0.3.4
requests==2.31.0
tqdm==4.66.1
python-dotenv